<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nd.abs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.module.login.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.module.main.activity.MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".ui.module.online_mba.activity.OnlienMBATypeActivity" />
        <activity android:name=".ui.module.main.activity.UnderTheLineActivity"></activity>
        <activity android:name=".ui.module.main.activity.MajorCoursesActivity" />
        <activity android:name=".ui.module.main.activity.LiveClassActivity" />
        <activity android:name=".ui.module.main.activity.PersonalMessageActivity" />
        <activity android:name=".ui.module.main.activity.SettingActivity" />
        <activity android:name=".ui.module.main.activity.FollowActivity" />
        <activity android:name=".ui.module.main.activity.OrderActivity" />
        <activity android:name=".ui.module.main.activity.MyCardCertificateActivity" />
        <activity android:name=".ui.module.main.activity.SeeVideoActivity" />
        <activity android:name=".ui.module.main.activity.ListenAudioActivity"></activity>
        <activity android:name=".ui.module.main.activity.CoursesDetailActivity"></activity>
        <activity android:name=".ui.module.main.activity.MallActivity"></activity>
        <activity android:name=".ui.module.main.activity.MallDetailActivity"></activity>
        <activity android:name=".ui.module.main.activity.EntertainmentActivity"></activity>
        <activity android:name=".ui.module.main.activity.MyClassActivity" />
        <activity android:name=".ui.module.main.activity.MyCertificateActivity" />
        <activity android:name=".ui.module.main.activity.AuditionHistoryActivity" />
        <activity android:name=".ui.module.main.activity.DownLoadActivity"></activity>
    </application>

</manifest>